# Please refer to the README.md for documentation on each variable

# Required Variables
#
# region =
# ami_id =
# fqdn =
# cert_id =
# instance_subnet_id =
# elb_subnet_id =
# data_subnet_ids =
# db_password =
# bucket_name =
# key_name =

# Optional variables
#
# kms_key_id =
# db_username =
# db_size_gb =
# db_instance_class =
# db_multi_az =
# db_snapshot_identifier =
# manage_bucket =
# zone_id =
# hostname =
# arn_partition =
# internal_elb =
# startup_script =
