# Please refer to the README.md for documentation on each variable

# Required Variables
#
# ami_id =
# fqdn =
# hostname =
# zone_id =
# cert_id =
# instance_subnet_id =
# elb_subnet_id =
# data_subnet_ids =
# db_password =
# bucket_name =
# key_name =
# redis_host =
# db_endpoint =

# Optional variables
#
# region =
# az =
# db_username =
# db_size_gb =
# db_instance_class =
# db_multi_az =
# db_snapshot_identifier =
# redis_port =
# manage_bucket =
