#!/bin/bash
# shellcheck disable=SC2034

DATABASE_USER=$'${db_username}'
DATABASE_PASSWORD=$'${db_password}'
DATABASE_HOST=$'${db_endpoint}'
DATABASE_DB=$'${db_database}'
REDIS_HOST=$'${redis_host}'
REDIS_PORT=$'${redis_port}'
TFE_HOSTNAME=$'${hostname}'
BUCKET_URL=$'${bucket_name}'
BUCKET_REGION=$'${bucket_region}'
KMS_KEY_ID=$'${kms_key_id}'
INSTALL_ID=$'${installation_id}'
DATA_REDUNDANCY=$'${ebs_redundancy}'
PROXY_URL=$'${proxy_url}'
EXTRA_NO_PROXY=$'${no_proxy}'
ARCHIVIST_SSE=$'${archivist_sse}'
ARCHIVIST_KMS_KEY_ID=$'${archivist_kms_key_id}'
